DatabaseManager/Connected Services/ServiceReference2/SCADACore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADACore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADACore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AnalogOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HighLimit" type="xs:double" />
      <xs:element minOccurs="0" name="IOAdress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InitialValue" type="xs:double" />
      <xs:element minOccurs="0" name="LowLimit" type="xs:double" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnalogOutput" nillable="true" type="tns:AnalogOutput" />
  <xs:complexType name="DigitalOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IOAdress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InitialValue" type="xs:double" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="initialValue" type="xs:double" />
      <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DigitalOutput" nillable="true" type="tns:DigitalOutput" />
</xs:schema>