ReportManager/Connected Services/ServiceReference1/SCADACore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADACore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADACore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alarm" nillable="true" type="tns:Alarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarm" nillable="true" type="tns:ArrayOfAlarm" />
  <xs:complexType name="Alarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priorities" type="tns:Priorities" />
      <xs:element minOccurs="0" name="State" type="tns:State" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Treshold" type="xs:double" />
      <xs:element minOccurs="0" name="Types" type="tns:Types" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alarm" nillable="true" type="tns:Alarm" />
  <xs:simpleType name="Priorities">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ONE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TWO">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="THREE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Priorities" nillable="true" type="tns:Priorities" />
  <xs:simpleType name="State">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IN" />
      <xs:enumeration value="OUT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="State" nillable="true" type="tns:State" />
  <xs:simpleType name="Types">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOW" />
      <xs:enumeration value="HIGH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Types" nillable="true" type="tns:Types" />
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="analogInputs" nillable="true" type="tns:ArrayOfAITag" />
      <xs:element minOccurs="0" name="digitalInputs" nillable="true" type="tns:ArrayOfDITag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="ArrayOfAITag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AITag" nillable="true" type="tns:AITag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAITag" nillable="true" type="tns:ArrayOfAITag" />
  <xs:complexType name="AITag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AITag" nillable="true" type="tns:AITag" />
  <xs:complexType name="ArrayOfDITag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DITag" nillable="true" type="tns:DITag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDITag" nillable="true" type="tns:ArrayOfDITag" />
  <xs:complexType name="DITag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DITag" nillable="true" type="tns:DITag" />
</xs:schema>