ReportManager/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportManager_Report1_InputMessage">
    <wsdl:part name="parameters" element="tns:Report1" />
  </wsdl:message>
  <wsdl:message name="IReportManager_Report1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Report1Response" />
  </wsdl:message>
  <wsdl:message name="IReportManager_Report2_InputMessage">
    <wsdl:part name="parameters" element="tns:Report2" />
  </wsdl:message>
  <wsdl:message name="IReportManager_Report2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Report2Response" />
  </wsdl:message>
  <wsdl:message name="IReportManager_Report3_InputMessage">
    <wsdl:part name="parameters" element="tns:Report3" />
  </wsdl:message>
  <wsdl:message name="IReportManager_Report3_OutputMessage">
    <wsdl:part name="parameters" element="tns:Report3Response" />
  </wsdl:message>
  <wsdl:message name="IReportManager_Report4_InputMessage">
    <wsdl:part name="parameters" element="tns:Report4" />
  </wsdl:message>
  <wsdl:message name="IReportManager_Report4_OutputMessage">
    <wsdl:part name="parameters" element="tns:Report4Response" />
  </wsdl:message>
  <wsdl:message name="IReportManager_Report5_InputMessage">
    <wsdl:part name="parameters" element="tns:Report5" />
  </wsdl:message>
  <wsdl:message name="IReportManager_Report5_OutputMessage">
    <wsdl:part name="parameters" element="tns:Report5Response" />
  </wsdl:message>
  <wsdl:message name="IReportManager_Report6_InputMessage">
    <wsdl:part name="parameters" element="tns:Report6" />
  </wsdl:message>
  <wsdl:message name="IReportManager_Report6_OutputMessage">
    <wsdl:part name="parameters" element="tns:Report6Response" />
  </wsdl:message>
  <wsdl:portType name="IReportManager">
    <wsdl:operation name="Report1">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManager/Report1" message="tns:IReportManager_Report1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManager/Report1Response" message="tns:IReportManager_Report1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Report2">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManager/Report2" message="tns:IReportManager_Report2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManager/Report2Response" message="tns:IReportManager_Report2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Report3">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManager/Report3" message="tns:IReportManager_Report3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManager/Report3Response" message="tns:IReportManager_Report3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Report4">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManager/Report4" message="tns:IReportManager_Report4_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManager/Report4Response" message="tns:IReportManager_Report4_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Report5">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManager/Report5" message="tns:IReportManager_Report5_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManager/Report5Response" message="tns:IReportManager_Report5_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Report6">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManager/Report6" message="tns:IReportManager_Report6_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManager/Report6Response" message="tns:IReportManager_Report6_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportManager" type="tns:IReportManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Report1">
      <soap:operation soapAction="http://tempuri.org/IReportManager/Report1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report2">
      <soap:operation soapAction="http://tempuri.org/IReportManager/Report2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report3">
      <soap:operation soapAction="http://tempuri.org/IReportManager/Report3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report4">
      <soap:operation soapAction="http://tempuri.org/IReportManager/Report4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report5">
      <soap:operation soapAction="http://tempuri.org/IReportManager/Report5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Report6">
      <soap:operation soapAction="http://tempuri.org/IReportManager/Report6" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportManager">
    <wsdl:port name="BasicHttpBinding_IReportManager" binding="tns:BasicHttpBinding_IReportManager">
      <soap:address location="http://localhost:8000/ReportManagerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>